/* ============= ABOUT ================== */
#about .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    margin-bottom: 30px;
}

#about .social-links svg {
    line-height: 0;
    transition: all 0.2s ease 0s;
    color: white !important;
}