/* ======== GERAL ================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --hue: 170;
    /* 1rem = 10px */
    font-size: 90.5%;
    --primary-color: hsl(120, 100%, 40%);
    --secondary-color: rgb(23, 21, 21);
    --brand-color: rgb(35, 34, 34);

    /* altura no navegador */
    --nav-height: 7.2rem;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    overflow: overlay;
    text-align: center;
    background: var(--secondary-color);
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 1.4rem;
}

ul {
    list-style: none;
}

section {
    /* padding-block: 3.5rem; */
    padding: 50px 0;
}

section .header-title {
    margin-top: 30px;
    width: fit-content;
    padding: 1rem 0.5rem;
    position: relative;
}

section .header-title h1 {
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 3.052rem;
    line-height: 4rem;
    z-index: 1;
    color: white;
}

section .header-title h1::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0.2rem;
    width: 40%;
    height: 13px;
    border-radius: 50px;
    z-index: -1;
    background: var(--primary-color);
}

header {
    margin-top: calc(4.1rem + var(--nav-height));
}

p {
    margin: 3rem auto;
    color: white;
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: center;
}

p>span {
    color: var(--primary-color);
    font-weight: bold;
}

.btn {
    width: 100%;
    min-width: 250px;
    max-width: 400px;
    margin: 0 auto;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);

    border-radius: 2px;
    transition: all 0.2s ease 0s;
    padding: 5px 20px;
    display: flex;
    justify-content: center;

    cursor: pointer;
}

.btn:hover {
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.btn a {
    display: inline;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 1.125rem;
    line-height: 2.225rem;
}


/*=== RESPONSIVO =================================*/
@media (min-width: 1024px) {

      /*=== GERAL =================================*/
    body {
        overflow: auto;        
    }

    section {
        padding-block: 9rem;
    }

    .wrapper {
        width: min(75rem, 100%);
        display: grid;
        padding-inline: 0;
    }
   
    /*=== NAVIGATION =================================*/
    /* reset */
    nav#navigation .wrapper * {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-size: initial;
        font-weight: initial;
        transform: initial;
        color: initial;
        background-color: initial;
        filter: initial;
        border: none;
    }   

}


